// drawer nav
.q-drawer {
  .q-item {
    opacity: 0.6;
    &.q-router-link--exact-active {
      opacity: 1;
    }
  }
}
//number input
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin-left: 10px;
}
// .keyboard-open q-footer {
//   padding-bottom: 200px; /* Ajusta según el tamaño del teclado en tu móvil */
// }
.keyboard-open {
  padding-bottom: 400px; /* Ajusta según el tamaño del teclado en tu móvil */
}
